* {
  font-family: Helvetica, sans-serif;
}
body {
  background-color: darkseagreen;
}
.container {
  display: flex;
  justify-content: center;
}
p {
  margin-left: 30px;
}
img {
  border-radius: 20px;
}
.btn {
  display: flex;
  justify-content: space-evenly;
}
button {
  padding: 10px;
  border-radius: 10px;
  font-size: 15px;
  border: none;
}
.previos {
  background-color: gold;
}
.next {
  background-color: rgb(186, 162, 240);
}